body{
	background-image: url("taivas6.jpeg");
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: auto;
	overflow: scroll;
	margin:0;
}
section{
	margin-bottom: 5%;
	display: block;
	
}
p{
	text-decoration: none;
	color: #9F9DE9;
	font-family: calibri;
	font-size:1.3vw;
	display: inline-block;
	}

li{
	font-family: calibri;
	font-size: 1.3vw;

	}
	
.menu {
  width: 35px;
  height: 5px;
	background-color: #FFD2E7;
  margin: 6px 0;
  border-radius: 15px;
}

.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 70px;
  float: right;
}

.dropdown {

  display: inline-block;
  width: 15%;
  float: right;
  margin-top:1%;
  margin-left:1%;
  margin-right:2%;
  margin-bottom: 2%;
  border-radius: 12px;
  
	
}
.dropdown-content {
  display: none;
  margin: 1%;
  background-color: #FBE9F3;
  opacity: 0.9;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: #9F9DE9;
  text-align: center;
}

.dropdown-content a {
  color: black;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 3%;
  padding-left: 3%;
  text-decoration: none;
  display: block;
  color: #9F9DE9;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(255, 179, 217);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {	background-color: ;}


.etusivu{
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 3%;
	width: 100%;
	display: block;
	vertical-align: top;
	float: left;
	padding-bottom:5%;
	padding-left: 0%;
	padding-top: 1%;
	background-color: #FBE9F3;
	opacity: 0.9;
	min-width: 100%;
	border-style: normal;
	overflow: hidden;
	text-align: left;	
}
.ehdot{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}
.teksti{

	width: 35%;
	min-width: 10%;
	margin-left: 10%;
	margin-top: 4%;
	float: left;
	display: inline-block;
}
.tausta {
  display: block;
  overflow:hidden;
  width: 100%;
}
.kuva{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3%;
	padding-left: 10%;
}
#timma{
	margin-bottom: 8%;
	float: left;
	margin-top:8%;
	width: 100%;
	display: inline-block;
	vertical-align: bottom;
	border-radius: 15px;

}
#ajanvaraus{
	
	background-color: #FFD2E7;
	border-style: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 3%;
	margin-right: 0%;
	margin-top: 5%;
	float: left;
	color: #9F9DE9;
	width: 40%;
	border-radius: 10px;
	box-shadow: 0px 13px 19px -6px rgba(184,184,184,1);
	font-size: 1.3vw;
	font-family: calibri;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	
}
#varaus{
	
	background-color: #FFD2E7;
	border-style: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 0%;
	margin-right: 3%;
	margin-top: 5%;
	float: right;
	color: #9F9DE9;
	width: 40%;
	border-radius: 10px;
	box-shadow: 0px 13px 19px -6px rgba(184,184,184,1);
	font-size: 1.3vw;
	font-family: calibri;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	
}

#varaus:active{
	border-style:none;
	background-color: #FFD2E7; 
		
}
#ajanvaraus:active{
	border-style:none;
	background-color: #FFD2E7; 
		
}
button:focus
{
	outline: none;
	
}
#varaus:hover{
	text-decoration: none;
	background-color: rgb(255, 179, 217);
}
#ajanvaraus:hover{
	text-decoration: none;
	background-color: rgb(255, 179, 217);
}
button{		
		border-style: none;
		background-color: transparent;
		font-family: calibri;
		font-size: 1.3vw;
		color: #9F9DE9;
		cursor: pointer;
		display: inline-block;
}
.instagram{
	float: right;
	width: 40%;
	padding-right: 10%;
	margin-top: 4%;
	display: block;
	position: static;	
	}
aside{
	width: 30%;
	margin-top: 8%;
	margin-right:15%;
	float: right;
}	
	
.otsikko{
	margin-left: 20%;
	margin-right: 20%;
	width: 55%;
	min-width: 55%;
	vertical-align: top;
	display: inline-block;
	margin-bottom: 8%;
	margin-top: 0%;
}
footer{
	display: block;
	float: left;
	width: 100%; 
	min-width: 100%;
	max-width: 100%;
	background-color: #FFD2E7; 
	margin-left: 0%;
	margin-right: 0%;
	bottom: 0;
	padding-left: 0%;
	padding-bottom: 1.5%;
	padding-top: 2%;
	min-width: 100%;
	opacity: 0.8;
	left: 0%;
	text-align: center;
	position: relative;
	overflow: hidden;

}
.fa {
  padding: 1%;
  font-size: 30px;
  width: 2%;
  	margin-left: 0%;
	margin-right: 0%;
  text-align: center;
  text-decoration: none;
  margin-top: 1%;
  display: block;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: transparent;
  color: white;
}

.fa-instagram {
  background: transparent;
  color: white;
}

#varausehdot{
	margin-bottom: 5%;	
	display: inline-block;
	margin-top: 2%;
	margin-left: 13%;
	margin-right: 13%;
	color: #9F9DE9;
	background-color: #FFD2E7;
	padding-top: 3%;
	padding-bottom: 4%;
	padding-left: 4%;
	padding-right: 4%;
	border-radius: 15px;
	box-shadow: 0px 13px 19px -6px rgba(184,184,184,1);
	width: 67%;
	font-size: 1.3vw;

}
ul{
			list-style-type: disc;
	list-style-position: outside;


}

a
{
	text-decoration: none;
	color: #9F9DE9;
	font-family: calibri;
}
a:hover
{
	text-decoration: none;
}
a:active
{
	text-decoration: none;
}
a:focus
{
	text-decoration: none;

}


@media screen and (max-width: 800px){
	

p{
	font-size:2.2vw;

}
section{
	margin-bottom: 5%;
	display: block;
}

footer{
	display: inline-block;
	float: left;
	width: 100%; 
	min-width: 100%;
	max-width: 100%;
	background-color: #FFD2E7; 
	margin-left: 0%;
	margin-right: 0%;
	bottom: 0;
	padding-left: 0%;
	padding-bottom: 1.5%;
	padding-top: 2%;
	min-width: 100%;
	opacity: 0.8;
	left: 0%;
	text-align: center;
	position: relative;
	overflow: hidden;
	font-size: 1.8vw;

}


.teksti{

	width: 67%;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 15%;
	display: block;
	vertical-align: top;

}
.instagram{
	padding-right: 5%;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	width: 70%;
	display: inline-block;
	vertical-align: top;
	
	}

.kuva{
	display: block;
	padding-left: 10%;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	

}
.otsikko{
	margin-left: 14%;
	margin-right: 14%;
	width: 72%;
	vertical-align: top;
	display: inline-block;
	margin-bottom: 5%;
}
ul{

	color: #9F9DE9;

	vertical-align: top;

	font-size: 2vw;

}
#timma{
	margin-bottom: 8%;
	float: left;
	margin-top:8%;
	width: 70%;
	display: inline-block;
	vertical-align: bottom;
	border-radius: 15px;
	margin-left: 15%;
	margin-right: 15%;

}
#ajanvaraus{
	
	background-color: #FFD2E7;
	border-style: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 3%;
	margin-right: 0%;
	margin-top: 5%;
	float: left;
	color: #9F9DE9;
	width: 40%;
	border-radius: 10px;
	box-shadow: 0px 13px 19px -6px rgba(184,184,184,1);
	font-size: 2.2vw;
	font-family: calibri;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	
}
#varaus{
	
	background-color: #FFD2E7;
	border-style: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 0%;
	margin-right: 3%;
	margin-top: 5%;
	float: right;
	color: #9F9DE9;
	width: 40%;
	border-radius: 10px;
	box-shadow: 0px 13px 19px -6px rgba(184,184,184,1);
	font-size: 2.2vw;
	font-family: calibri;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	
}

.varausotsikko{
	font-size: 2vw;
	}
#varausehdot{
	margin-bottom: 0%;	
	display: inline-block;
	margin-top: 5%;
	margin-left: 14%;
	margin-right: 14%;
	color: #9F9DE9;
	background-color: #FFD2E7;
	padding-top: 3%;
	padding-bottom: 4%;
	padding-left: 0%;
	padding-right: 4%;
	border-radius: 15px;
	box-shadow: 0px 13px 19px -6px rgba(184,184,184,1);
	width: 70%;
	font-size: 2.5vw;
	list-style-type: disc;
}
li{
	font-family: calibri;
	font-size: 2.5vw;
	padding-left:1%;
	padding-right:1%;
	}
.dropdown {

  display: inline-block;
  width: 14%;
  float: right;
  margin-top:1%;
  margin-left:1%;
  margin-right:1%;
  margin-bottom: 2%;
  border-radius: 12px;
   position: relative; 
  z-index: 100;
	
}.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 70px;
  float: right;
  display:inline-block;
   position: relative; 
  z-index: 100;
}

.dropdown-content {
  display: none;
  margin: 1%;
  background-color: #FBE9F3;
  opacity: 0.9;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: #9F9DE9;
  text-align: center;
  z-index: 100;

}

.dropdown-content a {
  color: black;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 1%;
  padding-left: 1%;
  text-decoration: none;
  display: block;
    color: #9F9DE9;
	font-size: 1.8vw;
}
button{		
		border-style: none;
		background-color: transparent;
		font-family: calibri;
		color: #9F9DE9;
		cursor: pointer;
		display: inline-block;
		font-size: 2.2vw;
}
}	
@media screen and (max-width: 500px){
	

p{
	font-size:2.7vw;

}
section{
	margin-bottom: 5%;
	display: block;
}

footer{
	display: inline-block;
	float: left;
	width: 100%; 
	min-width: 100%;
	max-width: 100%;
	background-color: #FFD2E7; 
	margin-left: 0%;
	margin-right: 0%;
	bottom: 0;
	padding-left: 0%;
	padding-bottom: 1.5%;
	padding-top: 2%;
	min-width: 100%;
	opacity: 0.8;
	left: 0%;
	text-align: center;
	position: relative;
	overflow: hidden;
	font-size: 1.9vw;

}


.teksti{

	width: 67%;
	margin-top: 5%;
	margin-left: 16%;
	margin-right: 16%;
	display: block;
	vertical-align: top;

}
.instagram{
	padding-right: 5%;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	width: 70%;
	display: inline-block;
	vertical-align: top;
	
	}

.kuva{
	display: block;
	padding-left: 12%;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	

}
.otsikko{
	margin-left: 11%;
	margin-right: 11%;
	width: 74%;
	vertical-align: top;
	display: inline-block;
	margin-bottom: 5%;
}
ul{

	color: #9F9DE9;

	vertical-align: top;

	font-size: 2.3vw;

}
#timma{
	margin-bottom: 8%;
	float: left;
	margin-top:8%;
	width: 70%;
	display: inline-block;
	vertical-align: bottom;
	border-radius: 15px;
	margin-left: 15%;
	margin-right: 15%;

}

#ajanvaraus{
	
	background-color: #FFD2E7;
	border-style: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 3%;
	margin-right: 0%;
	margin-top: 5%;
	float: left;
	color: #9F9DE9;
	width: 40%;
	border-radius: 10px;
	box-shadow: 0px 13px 19px -6px rgba(184,184,184,1);
	font-size: 2.7vw;
	font-family: calibri;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	
}
#varaus{
	
	background-color: #FFD2E7;
	border-style: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 0%;
	margin-right: 3%;
	margin-top: 5%;
	float: right;
	color: #9F9DE9;
	width: 40%;
	border-radius: 10px;
	box-shadow: 0px 13px 19px -6px rgba(184,184,184,1);
	font-size: 2.7vw;
	font-family: calibri;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	
}
#varausehdot{
	margin-bottom: 0%;	
	display: inline-block;
	margin-top: 5%;
	margin-left: 14%;
	margin-right: 14%;
	color: #9F9DE9;
	background-color: #FFD2E7;
	padding-top: 3%;
	padding-bottom: 4%;
	padding-left: 0%;
	padding-right: 4%;
	border-radius: 15px;
	box-shadow: 0px 13px 19px -6px rgba(184,184,184,1);
	width: 70%;
	font-size: 2.7vw;
	list-style-type: disc;
}
li{
	font-family: calibri;
	font-size: 2.5vw;
	padding-left:1%;
	padding-right:1%;
	}
.dropdown {

  display: inline-block;
  width: 16%;
  float: right;
  margin-top:1%;
  margin-left:1%;
  margin-right:2%;
  margin-bottom: 2%;
  border-radius: 12px;
   position: relative; 
  z-index: 100;
	
}.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 70px;
  float: right;
  display:inline-block;
   position: relative; 
  z-index: 100;
}

.dropdown-content {
  display: none;
  margin: 1%;
  background-color: #FBE9F3;
  opacity: 0.9;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: #9F9DE9;
  text-align: center;
  position: relative; 
  z-index: 100;

}

.dropdown-content a {
  color: black;
  padding-top: 12%;
  padding-bottom: 12%;
  padding-right: 1.5%;
  padding-left: 1.5%;
  text-decoration: none;
  display: block;
    color: #9F9DE9;
	font-size: 2.1vw;
}
.dropdown:hover .dropdown-content {display: block;}

button{		
		border-style: none;
		background-color: transparent;
		font-family: calibri;
		font-size: 2.5vw;
		color: #9F9DE9;
		cursor: pointer;
		display: inline-block;
}

	
	}
@media screen and (max-width: 490px){	

p{
	font-size:2.7vw;

}
section{
	margin-bottom: 5%;
	display: block;
}

footer{
	display: inline-block;
	float: left;
	width: 100%; 
	min-width: 100%;
	max-width: 100%;
	background-color: #FFD2E7; 
	margin-left: 0%;
	margin-right: 0%;
	bottom: 0;
	padding-left: 0%;
	padding-bottom: 1.5%;
	padding-top: 2%;
	min-width: 100%;
	opacity: 0.8;
	left: 0%;
	text-align: center;
	position: relative;
	overflow: hidden;
	font-size: 1.9vw;

}


.teksti{

	width: 67%;
	margin-top: 5%;
	margin-left: 16%;
	margin-right: 16%;
	display: block;
	vertical-align: top;

}
.instagram{
	padding-right: 5%;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	width: 70%;
	display: inline-block;
	vertical-align: top;
	
	}

.kuva{
	display: block;
	padding-left: 12%;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	

}
.otsikko{
	margin-left: 11%;
	margin-right: 11%;
	width: 74%;
	vertical-align: top;
	display: inline-block;
	margin-bottom: 5%;
}
ul{

	color: #9F9DE9;

	vertical-align: top;

	font-size: 2.3vw;

}
#timma{
	margin-bottom: 8%;
	float: left;
	margin-top:8%;
	width: 70%;
	display: inline-block;
	vertical-align: bottom;
	border-radius: 15px;
	margin-left: 15%;
	margin-right: 15%;

}

#ajanvaraus{
	
	background-color: #FFD2E7;
	border-style: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 3%;
	margin-right: 0%;
	margin-top: 5%;
	float: left;
	color: #9F9DE9;
	width: 40%;
	border-radius: 10px;
	box-shadow: 0px 13px 19px -6px rgba(184,184,184,1);
	font-size: 2.7vw;
	font-family: calibri;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	
}
#varaus{
	
	background-color: #FFD2E7;
	border-style: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 0%;
	margin-right: 3%;
	margin-top: 5%;
	float: right;
	color: #9F9DE9;
	width: 40%;
	border-radius: 10px;
	box-shadow: 0px 13px 19px -6px rgba(184,184,184,1);
	font-size: 2.7vw;
	font-family: calibri;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	
}
#varausehdot{
	margin-bottom: 0%;	
	display: inline-block;
	margin-top: 5%;
	margin-left: 14%;
	margin-right: 14%;
	color: #9F9DE9;
	background-color: #FFD2E7;
	padding-top: 3%;
	padding-bottom: 4%;
	padding-left: 0%;
	padding-right: 4%;
	border-radius: 15px;
	box-shadow: 0px 13px 19px -6px rgba(184,184,184,1);
	width: 70%;
	font-size: 2.7vw;
	list-style-type: disc;
}
li{
	font-family: calibri;
	font-size: 2.5vw;
	padding-left:1%;
	padding-right:1%;
	}
.dropdown {

  display: inline-block;
  width: 11%;
  float: right;
  margin-top:1%;
  margin-left:1%;
  margin-right:2%;
  margin-bottom: 2%;
  border-radius: 12px;
   position: relative; 
  z-index: 100;
	
}.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 70px;
  float: right;
  display:inline-block;
   position: relative; 
  z-index: 100;
}

.dropdown-content {
  display: none;
  margin: 1%;
  background-color: #FBE9F3;
  opacity: 0.9;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: #9F9DE9;
  text-align: center;
  position: relative; 
  z-index: 100;

}

.dropdown-content a {
  color: black;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-right: 1.3%;
  padding-left: 1.3%;
  text-decoration: none;
  display: block;
    color: #9F9DE9;
	font-size: 1.9vw;
}
.dropdown:hover .dropdown-content {display: block;}

button{		
		border-style: none;
		background-color: transparent;
		font-family: calibri;
		font-size: 2.5vw;
		color: #9F9DE9;
		cursor: pointer;
		display: inline-block;
}

	
	}
