html{
  scroll-behavior: smooth;
}
body{
	background-image: url("ohnobabynails_tausta.jpeg");
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: scroll;
	margin:0;
}
section{
	margin-bottom: 5%;
	display: block;
	
}
p{
	text-decoration: none;
	color: #516881;
	font-family: Karla, sans-serif;
	font-size:1.3vw;
	display: inline-block;
	font-weight: normal;
	text-align: justify;
	}
h3{
	color: #516881;
	font-family: Bad Script, cursive;
	font-size: 1.5vw;
	font-weight: normal;

	}
h2{
	color: #516881;
	font-family: Karla, sans-serif;
	font-size: 1.3vw;
	font-weight: normal;
	text-align: justify;
	
}	
h1{
		color: #516881;
		text-align: justify;
		font-size: 1.6vw;
		text-align: center;
		font-family: Bad Script, cursive;
		font-weight: normal;
}
iframe{
	width: 100%;
	border-width:0px;
	
	}

li{
	font-family: Karla, sans-serif;
	font-size: 1.3vw;
	color: #516881;
	text-align: justify;

	}
	
.menu {
  width: 35px;
  height: 5px;
	background-color: #FFD2E7;
  margin: 6px 0;
  border-radius: 15px;
}

.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 70px;
  float: right;
  position: relative;
  z-index: 100;
}

.dropdown {

  display: inline-block;
  width: 15%;
  float: right;
  margin-top:1%;
  margin-left:1%;
  margin-right:2%;
  margin-bottom: 2%;
  border-radius: 12px;
  position: absolute;
  right: 1%;
  z-index: 999;
  
	
}
.dropdown-content {
  display: none;
  margin: 1%;
  background-color: #FBE9F3;
  opacity: 0.9;
  top: 100%;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  color: #516881;
  text-align: center;
  position: absolute; 
  overflow: hidden;

}

  
.dropdown-content a {
  color: black;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 3%;
  padding-left: 3%;
  text-decoration: none;
  display: block;
  color: #516881;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(255, 179, 217);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}



.ohnobabynails_kynsistudio{
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 3%;
	width: 100%;
	display: block;
	vertical-align: top;
	float: left;
	padding-bottom:5%;
	padding-left: 0%;
	padding-top: 1%;
	background-color: #FFE3EF;
	min-width: 100%;
	border-style: normal;
	overflow: hidden;
	text-align: left;	
}

.kynsistudio_esittely{

	width: 35%;
	min-width: 10%;
	margin-left: 10%;
	margin-top: 4%;
	float: left;
	display: inline-block;
}

.ohnobabynails{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3%;
	padding-right: 5%;
	width: 260px;

}
#timma{
	margin-bottom: 8%;
	float: left;
	margin-top:8%;
	width: 100%;
	display: inline-block;
	vertical-align: bottom;
	border-radius: 15px;

}
#ajanvaraus{
	
	background-color: #FFD2E7;
	border-style: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 3%;
	margin-right: 0%;
	margin-top: 5%;
	float: left;
	color: #9F9DE9;
	width: 40%;
	border-radius: 10px;
	box-shadow: 0px 13px 19px -6px rgba(184,184,184,1);
	font-size: 1.3vw;
	font-family: calibri;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	
}
#varaus{
	
	background-color: #FFD2E7;
	border-style: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 0%;
	margin-right: 3%;
	margin-top: 5%;
	float: right;
	color: #9F9DE9;
	width: 40%;
	border-radius: 10px;
	box-shadow: 0px 13px 19px -6px rgba(184,184,184,1);
	font-size: 1.3vw;
	font-family: calibri;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	
}

#varaus:active{
	border-style:none;
	background-color: #FFD2E7; 
		
}
#ajanvaraus:active{
	border-style:none;
	background-color: #FFD2E7; 
		
}
button:focus
{
	outline: none;
	
}
#varaus:hover{
	text-decoration: none;
	background-color: rgb(255, 179, 217);
}
#ajanvaraus:hover{
	text-decoration: none;
	background-color: rgb(255, 179, 217);
}
button{		
		border-style: none;
		background-color: transparent;
	    font-family: Karla, sans-serif;
		font-size: 1.3vw;
		color: #516881;
		cursor: pointer;
		display: inline-block;
}
.instagram{
	float: right;
	width: 40%;
	padding-right: 10%;
	margin-top: 4%;
	display: block;
	position: static;	
	}
aside{
	width: 30%;
	margin-top: 8%;
	margin-right:15%;
	float: right;
}	
	
.ohnobaby{
	margin-left: 22%;
	margin-right: 22%;
	width: 55%;
	min-width: 55%;
	vertical-align: top;
	display: inline-block;
	margin-bottom: 3%;
	margin-top: 0%;
}
footer{
	display: block;
	float: left;
	width: 100%; 
	min-width: 100%;
	max-width: 100%;
	background-color: #FFD2E7; 
	margin-left: 0%;
	margin-right: 0%;
	bottom: 0;
	padding-left: 0%;
	padding-bottom: 1.5%;
	padding-top: 2%;
	min-width: 100%;
	left: 0%;
	text-align: center;
	position: relative;
	overflow: hidden;

}
.fa {
  padding: 1%;
  font-size: 30px;
  width: 2%;
  	margin-left: 0%;
	margin-right: 0%;
  text-align: center;
  text-decoration: none;
  margin-top: 1%;
  display: block;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: transparent;
  color: white;
}

.fa-instagram {
  background: transparent;
  color: white;
}

#kynsistudio_varausehdot{
	margin-bottom: 5%;	
	display: inline-block;
	margin-top: 2%;
	margin-left: 13%;
	margin-right: 13%;
	color: #9F9DE9;
	background-color: #FFD2E7;
	padding-top: 3%;
	padding-bottom: 4%;
	padding-left: 4%;
	padding-right: 4%;
	border-radius: 15px;
	box-shadow: 0px 13px 19px -6px rgba(184,184,184,1);
	width: 67%;
	font-size: 1.3vw;

}
ul{
			list-style-type: disc;
	list-style-position: outside;
}

a
{
	text-decoration: none;
	color: rgb(103,128,159);
	font-family: calibri, serif;
}
a:hover
{
	text-decoration: none;
}
a:active
{
	text-decoration: none;
}
a:focus
{
	text-decoration: none;

}


@media screen and (max-width: 800px){
	

p{
	font-size:2.2vw;
	

}
h3{

	font-size: 2.2vw;
	text-align: center;
	
	
	}
h2{

	font-size: 2.2vw;

}	
h1{	
		font-size: 2.8vw;
		text-align: center;
		
}
section{
	margin-bottom: 5%;
	display: block;
}

footer{
	font-size: 1.8vw;
}


.kynsistudio_esittely{

	width: 67%;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 15%;
	display: block;
	vertical-align: top;

}
.instagram{
	padding-right: 5%;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	width: 70%;
	display: inline-block;
	vertical-align: top;
	}

.ohnobabynails{
	display: block;
	padding-right: 0%;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;	
}
.ohnobaby{
	margin-left: 14%;
	margin-right: 14%;
	width: 70%;
	vertical-align: top;
	display: inline-block;
	margin-bottom: 5%;
}
ul{
	
	font-size: 2vw;
}
#timma{
	margin-bottom: 8%;
	float: left;
	margin-top:8%;
	width: 70%;
	display: inline-block;
	vertical-align: bottom;
	border-radius: 15px;
	margin-left: 15%;
	margin-right: 15%;

}
#ajanvaraus{
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 3%;
	margin-right: 0%;
	margin-top: 5%;
	font-size: 2.2vw;
	text-align: center;
	
}
#varaus{
	
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 0%;
	margin-right: 3%;
	margin-top: 5%;
	float: right;
	color: #9F9DE9;
	width: 40%;
	
}

.varausotsikko{
	font-size: 2vw;
	}
#kynsistudio_varausehdot{

	margin-top: 5%;
	margin-left: 14%;
	margin-right: 14%;
	padding-top: 3%;
	padding-bottom: 4%;
	padding-left: 0%;
	padding-right: 4%;
	width: 70%;
	font-size: 2.5vw;
	list-style-type: disc;
	text-align: center;
}
li{
	font-size: 2.5vw;
	padding-left:1%;
	padding-right:1%;
	}
	
.dropdown {

  display: inline-block;
  width: 20%;
  float: right;
  margin-top:1%;
  margin-left:1%;
  margin-right:1%;
  margin-bottom: 2%;
  border-radius: 12px;
  position: absolute; 
  z-index: 999;
	
}.dropbtn {

  font-size: 16px;
}

.dropdown-content {
  display: none;
  margin: 1%;
  opacity: 0.9;
  width: 100%;
  overflow: hidden;
  top: 100%;
  position: absolute;
  z-index: 100;

}

.dropdown-content a {

  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 1%;
  padding-left: 1%;
	font-size: 1.8vw;
}
button{		
		font-size: 2.2vw;
}
}	


@media screen and (max-width: 500px){
	

p{
	font-size:3.2vw;

}
section{
	margin-bottom: 5%;

}

h3{

	font-size: 3.2vw;
	text-align: center;	

}
h2{

	font-size: 3.2vw;
	
}	
h1{

		font-size: 3.6vw;
		text-align: center;
}

footer{
	width: 100%; 
	min-width: 100%;
	max-width: 100%;
	margin-left: 0%;
	margin-right: 0%;
	bottom: 0;
	padding-left: 0%;
	padding-bottom: 1.5%;
	padding-top: 2%;
	font-size: 2.2vw;

}


.kynsistudio_esittely{

	width: 67%;
	margin-top: 5%;
	margin-left: 16%;
	margin-right: 16%;
	display: block;
	vertical-align: top;

}
.instagram{
	padding-right: 5%;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	width: 70%;
	display: inline-block;
	vertical-align: top;
	
	}


.ohnobaby{
	margin-left: 11%;
	margin-right: 11%;
	width: 70%;
	vertical-align: top;
	display: inline-block;
	margin-bottom: 5%;
}
ul{

	vertical-align: top;

}
#timma{
	margin-bottom: 8%;
	float: left;
	margin-top:8%;
	width: 70%;
	display: inline-block;
	vertical-align: bottom;
	border-radius: 15px;
	margin-left: 15%;
	margin-right: 15%;

}

#ajanvaraus{
	
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 3%;
	margin-right: 0%;
	margin-top: 5%;
	width: 40%;
	font-size: 2.7vw;

	
}
#varaus{
	
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 0%;
	margin-right: 3%;
	margin-top: 5%;
	float: right;
	width: 40%;
	font-size: 2.7vw;
	
}
#kynsistudio_varausehdot{
	margin-bottom: 0%;	
	margin-top: 5%;
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 4%;
	padding-left: 0%;
	padding-right: 5%;
	width: 70%;
	font-size: 2.7vw;
	list-style-type: disc;
	text-align: center;
}
li{
	font-size: 3.2vw;
	padding-left:1%;
	padding-right:1%;
	}
.ohnobabynails{
	display: block;
	position: relative;
	z-index: -1;
	overflow: hidden;
	display: table-cell;
	align-items: center;
	padding-right: 0%;
}
.dropdown {

  display: inline-block;
  width: 30%;
  margin-top:1%;
  margin-right:2%;
  margin-bottom: 2%;
  border-radius: 12px;
  position: absolute; 
  right: 1%;
  z-index: 999;
	
}.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 70px;
  float: right;
  display:inline-block;
   position: relative; 
   z-index: 100;

}

.dropdown-content {
  display: none;
  margin: 1%;
  top: 100%;
  background-color: #FBE9F3;
  opacity: 0.9;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
  position: absolute; 
  z-index: 100;
  overflow: hidden;

}

.dropdown-content a {

  padding-top: 12%;
  padding-bottom: 12%;
  padding-right: 1.5%;
  padding-left: 1.5%;
	font-size: 2.5vw;
}
.dropdown:hover .dropdown-content {display: block;}

button{		
		font-size: 3.2vw;

}

	
	}	

